<?xml version="1.0" encoding="utf-8"?>
<UserSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CompactLayout>false</CompactLayout>
  <FlyoutSelectedMonitor>0</FlyoutSelectedMonitor>
  <Position>0</Position>
  <FlyoutAnimationSpeed>2</FlyoutAnimationSpeed>
  <PlayerInfoEnabled>true</PlayerInfoEnabled>
  <RepeatEnabled>true</RepeatEnabled>
  <ShuffleEnabled>true</ShuffleEnabled>
  <Startup>true</Startup>
  <MediaFlyoutAlwaysDisplay>false</MediaFlyoutAlwaysDisplay>
  <Duration>3000</Duration>
  <NextUpEnabled>false</NextUpEnabled>
  <NextUpDuration>2000</NextUpDuration>
  <nIconLeftClick>0</nIconLeftClick>
  <CenterTitleArtist>true</CenterTitleArtist>
  <FlyoutAnimationEasingStyle>2</FlyoutAnimationEasingStyle>
  <LockKeysEnabled>false</LockKeysEnabled>
  <LockKeysDuration>2000</LockKeysDuration>
  <AppTheme>0</AppTheme>
  <MediaFlyoutEnabled>true</MediaFlyoutEnabled>
  <MediaFlyoutVolumeKeysExcluded>false</MediaFlyoutVolumeKeysExcluded>
  <nIconSymbol>false</nIconSymbol>
  <NIconHide>true</NIconHide>
  <DisableIfFullscreen>true</DisableIfFullscreen>
  <LockKeysBoldUI>false</LockKeysBoldUI>
  <LockKeysMonitorPreference>0</LockKeysMonitorPreference>
  <LastKnownVersion>v2.10.1</LastKnownVersion>
  <SeekbarEnabled>true</SeekbarEnabled>
  <PauseOtherSessionsEnabled>true</PauseOtherSessionsEnabled>
  <LockKeysAnimated>true</LockKeysAnimated>
  <LockKeysInsertEnabled>true</LockKeysInsertEnabled>
  <MediaFlyoutBackgroundBlur>3</MediaFlyoutBackgroundBlur>
  <MediaFlyoutAcrylicWindowEnabled>true</MediaFlyoutAcrylicWindowEnabled>
  <NextUpAcrylicWindowEnabled>true</NextUpAcrylicWindowEnabled>
  <LockKeysAcrylicWindowEnabled>true</LockKeysAcrylicWindowEnabled>
  <AppLanguage>system</AppLanguage>
  <TaskbarWidgetEnabled>true</TaskbarWidgetEnabled>
  <TaskbarWidgetSelectedMonitor>0</TaskbarWidgetSelectedMonitor>
  <TaskbarWidgetAutoHide>false</TaskbarWidgetAutoHide>
  <TaskbarWidgetPosition>0</TaskbarWidgetPosition>
  <TaskbarWidgetPadding>true</TaskbarWidgetPadding>
  <TaskbarWidgetManualPadding>0</TaskbarWidgetManualPadding>
  <TaskbarWidgetBackgroundBlur>false</TaskbarWidgetBackgroundBlur>
  <TaskbarWidgetHideCompletely>true</TaskbarWidgetHideCompletely>
  <TaskbarWidgetControlsEnabled>true</TaskbarWidgetControlsEnabled>
  <TaskbarWidgetControlsPosition>1</TaskbarWidgetControlsPosition>
  <TaskbarWidgetAnimated>true</TaskbarWidgetAnimated>
  <TaskbarVisualizerEnabled>true</TaskbarVisualizerEnabled>
  <TaskbarVisualizerPosition>1</TaskbarVisualizerPosition>
  <TaskbarVisualizerClickable>false</TaskbarVisualizerClickable>
  <TaskbarVisualizerBarCount>20</TaskbarVisualizerBarCount>
  <TaskbarVisualizerCenteredBars>false</TaskbarVisualizerCenteredBars>
  <TaskbarVisualizerBaseline>false</TaskbarVisualizerBaseline>
  <TaskbarVisualizerAudioSensitivity>3</TaskbarVisualizerAudioSensitivity>
  <TaskbarVisualizerAudioPeakLevel>2</TaskbarVisualizerAudioPeakLevel>
  <AcrylicBlurOpacity>175</AcrylicBlurOpacity>
  <UseAlbumArtAsAccentColor>true</UseAlbumArtAsAccentColor>
  <IsStoreVersion>false</IsStoreVersion>
  <LastUpdateNotificationUnixSeconds>1774850938</LastUpdateNotificationUnixSeconds>
  <ShowUpdateNotifications>true</ShowUpdateNotifications>
  <LegacyTaskbarWidthEnabled>false</LegacyTaskbarWidthEnabled>
</UserSettings>